* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.contenedor article {
    line-height: 28px;
}

.contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article p {
    margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
    background: rgba(94, 125, 227, .9);
}


/* ------------------------- */


/* POPUP */


/* ------------------------- */

.overlay {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: end;
    justify-content: end;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.overlay2.active {
    visibility: visible;
}

.popup2 {
    image-rendering: "UwU.png";
    width: 300px;
    transition: .3s ease all;
    transform: scale(3.7);
    opacity: 0;
}

.popup {
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    width: 300px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    image-rendering: "UwU.png";
    width: 300px;
    transition: .3s ease all;
    transform: scale(0.0);
    opacity: 0;
    align-items: center;
    justify-content: center;
}


/* ------------------------- */


/* ANIMACIONES */


/* ------------------------- */

.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}